<!-- views/partials/nav.ejs -->
<div class="page center">
  <div class="gnv_wrap">
    <a href="/contacts">
      <div class="logo"></div>
    </a>
  </div>


<nav class="navbar navbar-default">
  <div class="container">

<!--
    <div class="navbar-header">
      <a class="navbar-brand" href="/contacts">Home</a>
    <div class="navbar-right">
      <div class="navbar-brand">상세정보</div>
    </div>
-->
  </div>
</nav>
